#example__movies {
  background-color: #f8f8f8;
}

.movies__section {
  padding-top: 64px;
}
.movies__section:last-child {
    padding-bottom: 64px;
}

.movies__section--title {
  margin-bottom: 24px;
  font-size: 36px;
  color: #242424;
}