#example__movies {
  background-color: #f8f8f8;
  padding-top: 32px;
}

.home__page--title {
  text-align: center;
  font-size: 54px;
  font-weight: 700;
  color: #242424;

}

.movies__section {
  padding-top: 64px;
}
.movies__section:last-child {
    padding-bottom: 64px;
}

.movies__section--title {
  margin-bottom: 24px;
  font-size: 36px;
  color: #242424;
}

@media (max-width: 650px) {
  .home__page--title {
    font-size: 42px;
  }
  .movies__section {
    padding-top: 32px;
  }
  .movies__section--title {
    font-size: 32px;
    text-align: center;
  }
  .setMovie__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
