.captain__wrapper {
    display: flex;
    width: 50%;
    border-bottom: 2px solid #000;
    border-left: 1px solid #000;
  }
  
  .captain {
    display: flex;
    width: 100%;
    height: calc(100vh / 6);
    object-fit: cover;
    object-position: 0 0%;
    filter: grayscale(65%);
    mask-image: linear-gradient(
      to right,
      transparent,
      #000 45%,
      #000 55%,
      transparent
    );
  }
  
  @media (min-width: 1480px) {
    .captain__wrapper {
      border-right: 2px solid #000;
    }
  }