.rocky__wrapper {
    display: flex;
    width: 50%;
    border-top: 2px solid #000;
    border-bottom: 2px  solid #000;
    border-right: 1px  solid #000;
  }

.rocky {
  display: flex;
  width: 100%;
  height: calc(100vh / 6);
  object-fit: cover;
  object-position: 0 40%;
  filter: grayscale(75%);
  mask-image: linear-gradient(
    to right,
    transparent,
    #000 28%,
    #000 36%,
    transparent
  );
}

@media (min-width: 1480px) {
    .rocky__wrapper {
      border-left: 2px solid #000;
    }
  }
