.vader__wrapper {
    display: flex;
    width: 100%;
    border-top: 2px solid #000;
    border-bottom: 2px  solid #000;
    position: absolute;
  }

.vader {
  display: flex;
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: 0 15%;
  filter: grayscale(75%);
  mask-image: linear-gradient(
    to right,
    transparent,
    #000 20%,
    #000 80%,
    transparent
  );
}

@media (max-width: 840px) {
  .vader {
    height: 200px;
  }
}
@media (max-width: 650px) {
  .vader {
    height: 150px;
  }
}


