* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  .link__hover--effect {
    position: relative;
    display: inline-block;
  }
  .link__hover--effect:after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: scale(0);
    height: 2px;
    background-color: #242424;
    transition: all 300ms ease;
  }
  .link__hover--effect:hover:after {
    transform: scale(1);
  }
  
  .click {
    cursor: pointer;
  }
  .click:hover {
    transform: scale(1.1);
  }
  .click:active {
    transform: scale(0.8);
  }
  
  li {
    list-style: none;
  }
  
  .container {
    padding: 36px 0;
  }
  
  .row {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 36px;
  }