.nav__container {
    background-color: #f8f8f8;
}

.background__wrapper {
    width: 100%;
}

.nav__row {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 36px;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  width: 100px;
  margin: 12px 0;
  filter: grayscale(55%);
}

.nav__links {
  display: flex;
}

.nav__link {
  margin: 0 10px;
  transition: all 300ms ease;
}

.nav__link--anchor {
  font-size: 16px;
  font-weight: 700;
  color: #242424;
}

.nav__link--main {
  margin-left: 14px;
  padding: 10px 32px;
  background-color: #cccccc;
  color: #242424;
  border: 2px solid #242424;
  border-radius: 50px;
  transition: all 300ms ease;
}
.nav__link--main:hover {
  background-color: #ff9898;
}
