.movie__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.movie__wrapper {
  width: calc(100% / 3);
  display: flex;
}

.movie {
  padding: 12px;
}

.movie__img--wrapper {
  display: flex;
  width: 100%;
}

.movie__img {
  width: 100%;
}

.movie__description {
  display: flex;
  flex-direction: column;
  margin-top: 4px;
}

.movie__title {
  font-size: 20px;
  font-weight: 700;
  color: #242424;
}

.movie__year {
  font-size: 18px;
  font-weight: 700;
  color: #535353;
}

.search__again {
  margin: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search__again img {
  height: 300px;
}

.search__again--title {
  margin-top: 24px;
  color: #535353;
}
